In [1]:
# Download Libraries
!pip3 install google-cloud-storage
!pip3 install pyarrow # Apache Arrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: google-cloud-storage in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (2.16.0)
Requirement already satisfied: google-auth<3.0dev,>=2.26.1 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-cloud-storage) (2.29.0)
Requirement already satisfied: google-api-core<3.0.0dev,>=2.15.0 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-cloud-storage) (2.18.0)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-cloud-storage) (2.4.1)
Requirement already satisfied: google-resumable-media>=2.6.0 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-cloud-storage) (2.7.0)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-cloud-storage) (2.31.0)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-cloud-storage) (1.5.0)
Requirement already satisfied: googleapis-common-protos<2.0.dev0,>=1.56.2 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage) (1.63.0)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0.dev0,>=3.19.5 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage) (4.25.3)
Requirement already satisfied: proto-plus<2.0.0dev,>=1.22.3 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-api-core<3.0.0dev,>=2.15.0->google-cloud-storage) (1.23.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-auth<3.0dev,>=2.26.1->google-cloud-storage) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-auth<3.0dev,>=2.26.1->google-cloud-storage) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from google-auth<3.0dev,>=2.26.1->google-cloud-storage) (4.9)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from requests<3.0.0dev,>=2.18.0->google-cloud-storage) (2024.2.2)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from pyasn1-modules>=0.2.1->google-auth<3.0dev,>=2.26.1->google-cloud-storage) (0.6.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (15.0.2)
Requirement already satisfied: numpy<2,>=1.16.6 in /Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages (from pyarrow) (1.26.4)

In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import json
import requests
import zipfile
import io
from io import StringIO
import pyarrow as pa
import pyarrow.parquet as pq
from google.cloud import storage
import os
import datetime
from google.cloud import bigquery
import unicodedata

/Users/karmayangchentenzin/Library/Python/3.9/lib/python/site-packages/urllib3/__init__.py:35: NotOpenSSLWarning: urllib3 v2 only supports OpenSSL 1.1.1+, currently the 'ssl' module is compiled with 'LibreSSL 2.8.3'. See: https://github.com/urllib3/urllib3/issues/3020
  warnings.warn(

In [5]:
# Initialize a client using the default credentials #Without initializing default credentials first, was unable to create any tables in BigQuery.
client = storage.Client(project="avian-silicon-418821")

# List buckets
buckets = list(client.list_buckets())

# Print bucket names
for bucket in buckets:
    print(bucket.name)  #The correct buckt name from GC is printed.

cis4400_hw1_kyt

In [22]:
# Read Parquet file into DataFrame
parquet_file_path = 'gs://cis4400_hw1_kyt/ny_civil_service_exam.parquet'
df = pd.read_parquet(parquet_file_path)

# Print DataFrame contents
print("DataFrame Contents:")
print(df)
print(df.shape)
otc_df = df.copy()
#Just for testing

DataFrame Contents:
        Exam No  List No   First Name    MI   Last Name  Adj_ FA  \
0          9618   1214.0       GERMAN     A        SOSA    86.67
1          7001  24935.0       DARREN     L       PAYNE    91.00
2          7001  11653.0      STEPHEN  None      MANFRE    96.00
3          2060  15669.0       ELIJAH     T  RICHARDSON    95.71
4          6601  16886.0          JAY     M        AMES    88.75
...         ...      ...          ...   ...         ...      ...
491814      162    640.0        KARIM  None      NUGENT    94.00
491815      320   3127.0      NICOLAS     C        PUMA    93.61
491816     2027   4724.0       DILCIA  None       TAPIA    82.44
491817     2095    291.0  MD ABUBAKAR  None      SIDDIK    70.00
491818     2545     53.0         LUIS     M       GOMEZ    70.60

        List Title Code                                 List Title Desc  \
0                 91203                                    BUS OPERATOR
1                 70310                                     FIREFIGHTER
2                 70310                                     FIREFIGHTER
3                 70112                               SANITATION WORKER
4                 91207                                       CONDUCTOR
...                 ...                                             ...
491814            10001                       ADMINISTRATIVE ACCOUNTANT
491815            70210                                  POLICE OFFICER
491816            70210                                  POLICE OFFICER
491817            31661                       FIRE PROTECTION INSPECTOR
491818            92575  SUPERVISOR OF MECHANICS (MECHANICAL EQUIPMENT)

        Group No  List Agency Code  ... List Div Code  Published Date  \
0              0                 0  ...           NaN            None
1              0                 0  ...           NaN      06/13/2018
2              0                 0  ...           NaN      06/13/2018
3              0                 0  ...           NaN      07/12/2023
4              0                 0  ...           NaN            None
...          ...               ...  ...           ...             ...
491814         0                 0  ...           NaN      05/26/2021
491815         0                 0  ...           NaN            None
491816         0                 0  ...           NaN            None
491817         0                 0  ...           NaN            None
491818         0                57  ...           NaN            None

       Established Date Anniversary Date Extension Date Veteran Credit  \
0            09/08/2021       09/08/2025           None           None
1            02/27/2019       02/27/2023     02/27/2025           None
2            02/27/2019       02/27/2023     02/27/2025           None
3            02/28/2024       02/28/2028           None           None
4            02/14/2018       02/14/2022     02/14/2025           None
...                 ...              ...            ...            ...
491814       07/28/2021       07/28/2025           None           None
491815       01/13/2021       01/13/2025           None           None
491816       03/16/2022       03/16/2026           None           None
491817       07/06/2022       07/06/2026           None           None
491818       07/12/2023       07/12/2027           None           None

       Parent Lgy Credit     Sibling Lgy Credit  Residency Credit  \
0                   None                   None              None
1                   None                   None  Residency Credit
2                   None                   None  Residency Credit
3                   None                   None  Residency Credit
4                   None                   None              None
...                  ...                    ...               ...
491814              None                   None              None
491815              None  Sibling Legacy Credit  Residency Credit
491816              None                   None  Residency Credit
491817              None                   None              None
491818              None                   None              None

                        load_date
0      2024-04-07 02:14:07.932603
1      2024-04-07 02:14:07.932603
2      2024-04-07 02:14:07.932603
3      2024-04-07 02:14:07.932603
4      2024-04-07 02:14:07.932603
...                           ...
491814 2024-04-07 02:14:07.932603
491815 2024-04-07 02:14:07.932603
491816 2024-04-07 02:14:07.932603
491817 2024-04-07 02:14:07.932603
491818 2024-04-07 02:14:07.932603

[491819 rows x 21 columns]
(491819, 21)

In [23]:
otc_df.columns

Index(['Exam No', 'List No', 'First Name', 'MI', 'Last Name', 'Adj_ FA',
       'List Title Code', 'List Title Desc', 'Group No', 'List Agency Code',
       'List Agency Desc', 'List Div Code', 'Published Date',
       'Established Date', 'Anniversary Date', 'Extension Date',
       'Veteran Credit', 'Parent Lgy Credit', 'Sibling Lgy Credit',
       'Residency Credit', 'load_date'],
      dtype='object')

In [24]:
otc_df.head()

,Exam No,List No,First Name,MI,Last Name,Adj_ FA,List Title Code,List Title Desc,Group No,List Agency Code,...,List Div Code,Published Date,Established Date,Anniversary Date,Extension Date,Veteran Credit,Parent Lgy Credit,Sibling Lgy Credit,Residency Credit,load_date
0,9618,1214.0,GERMAN,A,SOSA,86.67,91203,BUS OPERATOR,0,0,...,NaN,None,09/08/2021,09/08/2025,None,None,None,None,None,2024-04-07 02:14:07.932603
1,7001,24935.0,DARREN,L,PAYNE,91.00,70310,FIREFIGHTER,0,0,...,NaN,06/13/2018,02/27/2019,02/27/2023,02/27/2025,None,None,None,Residency Credit,2024-04-07 02:14:07.932603
2,7001,11653.0,STEPHEN,None,MANFRE,96.00,70310,FIREFIGHTER,0,0,...,NaN,06/13/2018,02/27/2019,02/27/2023,02/27/2025,None,None,None,Residency Credit,2024-04-07 02:14:07.932603
3,2060,15669.0,ELIJAH,T,RICHARDSON,95.71,70112,SANITATION WORKER,0,0,...,NaN,07/12/2023,02/28/2024,02/28/2028,None,None,None,None,Residency Credit,2024-04-07 02:14:07.932603
4,6601,16886.0,JAY,M,AMES,88.75,91207,CONDUCTOR,0,0,...,NaN,None,02/14/2018,02/14/2022,02/14/2025,None,None,None,None,2024-04-07 02:14:07.932603

In [26]:
otc_df['List Div Code'] = otc_df['List Div Code'].fillna('')
otc_df.head()

,Exam No,List No,First Name,MI,Last Name,Adj_ FA,List Title Code,List Title Desc,Group No,List Agency Code,...,List Div Code,Published Date,Established Date,Anniversary Date,Extension Date,Veteran Credit,Parent Lgy Credit,Sibling Lgy Credit,Residency Credit,load_date
0,9618,1214.0,GERMAN,A,SOSA,86.67,91203,BUS OPERATOR,0,0,...,,None,09/08/2021,09/08/2025,None,None,None,None,None,2024-04-07 02:14:07.932603
1,7001,24935.0,DARREN,L,PAYNE,91.00,70310,FIREFIGHTER,0,0,...,,06/13/2018,02/27/2019,02/27/2023,02/27/2025,None,None,None,Residency Credit,2024-04-07 02:14:07.932603
2,7001,11653.0,STEPHEN,None,MANFRE,96.00,70310,FIREFIGHTER,0,0,...,,06/13/2018,02/27/2019,02/27/2023,02/27/2025,None,None,None,Residency Credit,2024-04-07 02:14:07.932603
3,2060,15669.0,ELIJAH,T,RICHARDSON,95.71,70112,SANITATION WORKER,0,0,...,,07/12/2023,02/28/2024,02/28/2028,None,None,None,None,Residency Credit,2024-04-07 02:14:07.932603
4,6601,16886.0,JAY,M,AMES,88.75,91207,CONDUCTOR,0,0,...,,None,02/14/2018,02/14/2022,02/14/2025,None,None,None,None,2024-04-07 02:14:07.932603

In [4]:

# Specify the path to your service account key file
service_account_key_file = '/Users/karmayangchentenzin/Downloads/Service_Key_HW.json'

# Set up Google Cloud Storage client
storage_client = storage.Client.from_service_account_json(service_account_key_file)

BUCKET_GC = 'cis4400_hw1_kyt'

bucket = storage_client.get_bucket(BUCKET_GC)

# List all blobs in the specified bucket with the given prefix
blobs = bucket.list_blobs()
for blob in blobs:
    print(blob.name)
    blob_data = blob.download_as_string()
    
    try:
        blob_content = blob_data.decode('utf-8')
    except UnicodeDecodeError:
        blob_content = blob_data.decode('latin-1')  # Try decoding with latin-1
    
    df = pd.read_parquet(StringIO(blob_content))
    # Display the shape of the DataFrame
    print(df.shape)

ny_civil_service_exam.parquet

TypeError: binary file expected, got text file

# New Section